trigger:
    branches:
        include:
            - "main"

pool:
  vmImage: "ubuntu-latest"

variables:
  VITE_API_BASE_URL: $(apiUrl)
  VITE_NEXXUS_API_PREFIX: $(apiPrefix)
  VITE_SESSION_VALIDATE_INTERVAL_MS: $(sessionValidateIntervalMs)
  VITE_SESSION_VALIDATE_INTERVAL_SECONDS: $(sessionValidateIntervalSeconds)

jobs:
  - job: BuildPublishPurge
    steps:
      - script: |
          npm install -g pnpm
          pnpm install
          pnpm run build
        displayName: "Build"
        workingDirectory: $(Build.SourcesDirectory)

      - task: AzureCLI@2
        displayName: "Publish"
        inputs:
            azureSubscription: $(azureSubscription)
            scriptType: "bash"
            scriptLocation: "inlineScript"
            inlineScript: "az storage blob sync -c $1 -s $2 --account-name $3"
            arguments: "$(storageContainer) $(Build.SourcesDirectory)/dist $(storageAccount)"

      - task: AzureCLI@2
        displayName: "Cache Purge"
        inputs:
            azureSubscription: $(azureSubscription)
            scriptType: "bash"
            scriptLocation: "inlineScript"
            inlineScript: "az afd endpoint purge --resource-group $1 --profile-name $2 --endpoint-name $3 --content-paths $4 --no-wait"
            arguments: "$(azureResourceGroup) $(azureAfdProfile) $(azureAfdEndpointName) $(azureAfdContentPaths)"